/*variables*/
:root {
  /* Название с --префиксом */
  --extra-dark: #2d3440;
  --dark: #565C66;
  --neutral: #b9b9b9;
  --light: #e7e7e7;
  --extra-light: #fcfcfc;
  --white: #ffffff;

  --extra-bright: #ff2f64;
  --bright: #ff4a78;
  --medium-bright: #ff7799;
  --light-bright: #feafc3;
  --extra-light-bright: #ffcbd8;
  --blue: #69a9ff;
  --yellow: #fcc850;
  --error: #ea5454;
  --warning: #fd912e;
  --success: #00e484;

  --content-width: 1170px;

  --border-radius: 16px;
}

@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/inter-400.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/inter-700.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/inter-900.woff2") format("woff2");
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/*common*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.page-body {
  margin: 0;
  height: 100%;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: var(--extra-dark);
}

.page-body--locked {
  overflow: hidden;
}

.page-body--strawberry {
  background-color: var(--light-bright);
}

.page-body--banana {
  background-color: var(--blue);
}

.page-body--marshmallow {
  background-color: var(--yellow);
}

.page-container {
  width: var(--content-width);
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: minmax(224px, auto);
  gap: 30px;
  margin: 0 0 80px 0;
}

.section-title {
  margin: 0;

  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}

.button {
  position: relative;
  display: block;
  width: fit-content;
  padding: 12px 32px;

  border: none;
  border-radius: 26px;

  cursor: pointer;

  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: var(--extra-dark);
  text-decoration: none;

  box-shadow: 0px 4px 12px 4px rgba(45, 52, 64, 0.1);

  transition: background-color 0.1s ease-out, outline 0.1s ease-out, box-shadow 0.1s ease-out;
}

.button--basic {
  background-color: var(--extra-light);
  outline: 4px solid rgba(252, 252, 252, 0.4);
}

.button--basic:disabled,
.button--disabled {
  background-color: var(--light);
  outline: 4px solid rgba(252, 252, 252, 0.4);
  color: var(--neutral);
  pointer-events: none;
  cursor: default;
}

.button--basic:not(:disabled):hover {
  background-color: rgba(252, 252, 252, 0.4);
  outline: 4px solid var(--extra-light);
  box-shadow: 0 4px 15px 4px rgba(133, 133, 133, 0.15);
}

.button--basic:not(:disabled):focus-visible {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid var(--extra-dark);
}

.button--basic:not(:disabled):active {
  background-color: var(--extra-light);
  outline: 2px solid var(--extra-dark);
}

.button--alternate {
  color: var(--extra-light);
  background-color: var(--extra-bright);
  outline: 4px solid rgba(255, 47, 100, 0.3);
}

.button--alternate:disabled,
.button--alternate.button--disabled {
  background-color: var(--neutral);
  outline: 4px solid rgba(185, 185, 185, 0.3);
  color: #999999;
}

.button--alternate:not(:disabled):hover {
  color: var(--extra-dark);
  background-color: rgba(252, 252, 252, 0.3);
  outline: 4px solid var(--extra-bright);
  box-shadow: none;
}

.button--alternate:not(:disabled):focus-visible {
  background-color: var((--extra-bright));
  outline: 2px solid var(--extra-dark);
}

.button--alternate:not(:disabled):active {
  background-color: var(--light-bright);
  outline: 2px solid var(--extra-dark);
}

.button--with-loader {
  padding: 12px 56px 12px 32px;
}

.button--with-loader::after {
  content: "";
  position: absolute;
  top: calc(50% - 8px);
  right: 32px;
  width: 16px;
  height: 16px;
  border: 2px solid rgba(36, 36, 36, 0.24);
  border-top-color: #242424;
  border-radius: 50%;
  animation: spin 1.3s linear infinite;
}

.button--alternate.button--with-loader::after {
  border: 2px solid rgba(252, 252, 252, 0.25);
  border-top-color: var(--extra-light);
}

.button--filter {
  padding: 8px 32px;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  box-shadow: none;

  outline: 2px solid var(--extra-light);
  background-color: rgba(252, 252, 252, 0.3);
}

.button--filter:disabled {
  opacity: 0.4;
  cursor: default;
  pointer-events: none;
}

.button--filter:not(:disabled):hover {
  background-color: var(--extra-light);
  outline: 2px solid rgba(252, 252, 252, 0.3);
}

.button--filter:not(:disabled):active {
  background-color: rgba(252, 252, 252, 0.5);
  outline: none;
}

.button--filter:not(:disabled):focus-visible {
  background-color: rgba(252, 252, 252, 0.3);
  outline: 2px solid var(--extra-dark);
}

/* card */

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 270px;
  margin: 50px 0 0 0;
  padding: 0 40px 24px 40px;
  background-color: var(--extra-light);
  border-radius: 8px;
}

.card:hover {
  box-shadow: 0px 8px 16px 0px rgba(45, 52, 64, 0.4);
}

.card-title {
  margin: 0 0 8px 0;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.card-link {
  position: static;
  text-decoration: none;
  color: inherit;
}

.card-link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.card-description {
  margin: 0 0 16px 0;
  text-align: center;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.card-image-link {
  border-radius: 50%;
  margin: -51px auto 16px;
  display: block;
  order: -1;
  box-shadow: 0px 4px 12px 0px rgba(45, 52, 64, 0.1);
}

.card-image {

  width: 168px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;
  display: block;

}

.card-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin: auto 0 0 0;
}

.card-price {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  word-spacing: 2px;
}

.card-button {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 32px;
  width: 32px;
  height: 32px;
  align-self: flex-end;
  border-radius: 50%;
  background-color: var(--extra-bright);
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;

  outline: 2px solid var(--extra-bright);
  outline-offset: -2px;

  fill: var(--extra-light);

  transition: background-color 0.1s ease-out, outline 0.1s ease-out, fill 0.1s ease-out;
}

.card-button::after {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  border-radius: 50%;
}

.card-button:disabled {
  background-color: var(--neutral);
  cursor: default;
  fill: var(--dark);
  outline: none;
}

.card-button:not(:disabled):hover {
  background-color: rgba(252, 252, 252, 0.3);
  outline: 2px solid var(--extra-bright);
  outline-offset: -2px;
  fill: var(--extra-dark);
}

.card-button:not(:disabled):active {
  background-color: var(--extra-light-bright);
  outline: 2px solid var(--extra-bright);
  outline-offset: -2px;
  fill: var(--extra-dark);
}

.card-button:not(:disabled):focus-visible {
  background-color: var(--extra-bright);
  outline: 2px solid var(--extra-dark);
  outline-offset: -2px;
  fill: var(--extra-light);
}

/* input basic */

.input {
  display: block;
  width: 100%;
  padding: 13px 14px;

  border: 1px solid var(--neutral);
  border-radius: 4px;

  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--extra-dark);
}

.input::placeholder {
  color: var(--neutral);
}

.input:disabled {
  background-color: var(--light);
  color: rgba(45, 52, 64, 0.65);
}

.input:disabled::placeholder {
  color: rgba(45, 52, 64, 0.65);
}

.input:not(:disabled):hover {
  border: 1px solid var(--extra-dark);
}

.input:not(:disabled, :invalid):focus-visible {
  outline: 2px solid var(--extra-dark);
  outline-offset: -2px;
}

.input:not(:disabled, :placeholder-shown):invalid {
  border: 1px solid var(--error);
}

.input:not(:disabled, :placeholder-shown, :focus-visible):hover:invalid {
  outline: 2px solid var(--error);
  outline-offset: -2px;
}

/* popovers */

.popover {
  display: none;
  position: absolute;
  z-index: 2;
  right: 0;
  top: 40px;
  background-color: var(--extra-light);
  border-radius: 4px;
  box-shadow: 0 15px 40px 0 rgba(45, 52, 64, 0.12);
}

.user-menu-item:focus-within .popover,
.user-menu-link--active + .popover,
.user-menu-link:hover + .popover,
.popover:hover {
  display: block;
}

.popover--search {
  width: 356px;
  padding: 24px 16px;
  box-shadow: 0 8px 16px 0 rgba(45, 52, 64, 0.12);
}

.popover--auth {
  width: 420px;
  padding: 49px 48px 48px;
}

.popover--cart {
  min-width: 288px;
  padding: 48px 25px 48px;
}

/* icon-buttons */

.close-button {
  width: 36px;
  height: 36px;
  border: none;
  background-color: transparent;
  background-image: url("../images/icons/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.close-button:hover {
  opacity: 0.7;
}

.close-button:active {
  opacity: 0.3;
}

.close-button:focus-visible {
  opacity: 1;
}

/* header */

.page-header {
  position: relative;
  padding: 34px 0 34px 153px;
}

.navigation {
  display: grid;
  grid-template-columns: 1fr 200px 267px;
  gap: 5px;
}

.logo {
  position: absolute;
  top: 24px;
  left: 0;
  padding: 8px 16px;
  margin: -8px -16px;
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.6;
}

.logo-image {
  display: block;
}

.site-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: flex;
  flex-wrap: wrap;
}

.site-menu-item {}

.site-menu-link {
  text-decoration: none;
  line-height: 20px;
  color: inherit;
  display: block;
  border-radius: 30px;

  padding: 8px 16px;
}

.site-menu-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.site-menu-link:focus-visible {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid var(--extra-dark);
  outline-offset: -2px;
}

.site-menu-link:active {
  background-color: var(--extra-light);
}

.site-menu-submenu {}

.submenu {
  position: relative;
  fill: var(--extra-dark);
}

.submenu[open] {
  fill: var(--extra-light);
}

.submenu[open] .submenu-button {
  color: var(--extra-light);
  background-color: var(--bright);
}

.submenu-button {
  position: relative;
  padding: 8px 39px 8px 16px;

  border-radius: 30px;
  list-style: none;
  cursor: pointer;
  font-weight: 400;
  line-height: 20px;
}

.submenu-button:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.submenu-button:focus-visible {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid var(--extra-dark);
  outline-offset: -2px;
}

.submenu-button:active {
  background-color: var(--extra-light);
}

.site-menu-submenu[open] .submenu-button:hover {
  opacity: 0.6;
}

.site-menu-submenu[open] .submenu-button:focus-visible {
  outline: 2px solid var(--extra-dark);
  outline-offset: -2px;
}

.site-menu-submenu[open] .submenu-button:active {
  opacity: 0.6;
}

.submenu-icon {
  position: absolute;
  top: 10px;
  right: 16px;
  transition: transform 0.1s ease-out;
}

.submenu[open] .submenu-icon {
  transform: rotate(180deg);
  top: 12px;
}

.submenu-list {
  position: absolute;
  left: 1px;
  top: 44px;
  margin: 0;
  padding: 8px 0;
  width: max-content;
  min-width: 135px;

  list-style-type: none;
  color: var(--extra-dark);

  background-color: var(--extra-light);
  border-radius: 4px;
}

.submenu-item {}

.submenu-item--accent {
  font-weight: 700;
}

.submenu-item--accent::after {
  content: "";
  display: block;
  width: calc(100% - 32px);
  height: 1px;
  background-color: var(--neutral);

  margin: 3px auto;
}

.submenu-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  color: inherit;

  display: block;
  padding: 7px 13px 5px 17px;
}

.submenu-item--accent .submenu-link {
  padding: 8px 13px 8px 17px;
}

.submenu-link:hover {
  text-decoration: underline;
}

.submenu-link:focus-visible {
  outline: 2px solid var(--extra-dark);
  outline-offset: -2px;
}

.submenu-link:active {
  opacity: 0.6;
}

.navigation-phones {
  justify-self: end;
}

.phones {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.phones-item {}

.phones-link {
  display: block;
  padding: 8px 12px;
  border-radius: 30px;
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  line-height: 20px;
}

.phones-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.phones-link:focus-visible {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid var(--extra-dark);
  outline-offset: -2px;
}

.phones-link:active {
  background-color: var(--extra-light);
}

.user-menu {
  margin: 0;
  padding: 2px 0 0 0;
  list-style-type: none;

  justify-self: end;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 16px;
}

.user-menu-item {
  position: relative;
}

.user-menu-link {
  position: relative;
  display: block;
  border-radius: 30px;
  background-color: rgba(252, 252, 252, 0.3);
  text-decoration: none;
  color: inherit;
  font-size: 14px;
  line-height: 20px;

  fill: var(--extra-dark);
}

.user-menu-link::after {
  content: "";
  position: absolute;
  top: -25%;
  right: 0;
  width: calc( 100% + 14px);
  height: 150%;
}

.login-icon,
.cart-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
}

.user-menu-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.user-menu-link:focus-visible {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid var(--extra-dark);
  outline-offset: -2px;
}

.user-menu-link:active {
  background-color: var(--extra-light);
}

.user-menu-link--active {
  fill: var(--extra-light);
  color: var(--extra-light);
  background-color: var(--bright);

  transition: opacity 0.1s ease-out;
}

.user-menu-link--active:hover {
  background-color: var(--bright);
  opacity: 0.6;
}

.user-menu-link--active:focus-visible {
  background-color: var(--bright);
  outline: 2px solid #000000;
  outline-offset: -2px;
}

.user-menu-link--active:active {
  background-color: var(--bright);
  opacity: 0.3;
  outline: none;
}

.user-menu-link--search {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-menu-link--login {
  padding: 6px 17px 6px 38px;
}

.user-menu-link--cart {
  padding: 6px 16px 6px 38px;
}

.cart-count {}

.cart-text {}

.search-form {
  position: relative;
}

.search-form-input {
  padding: 14px 36px 14px 16px;
}

.search-form:hover .search-form-input {
  border: 1px solid var(--extra-dark);
}

.search-form-input[type="search"]::-webkit-search-cancel-button,
.search-form-input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

.search-form-input:placeholder-shown + .search-form-button {
  opacity: 0;
  visibility: hidden;
}

.search-form-button {
  position: absolute;
  right: 3px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.4;
}

.auth-form {}

.auth-form-title {
  margin: 0 0 31px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.auth-form-field {
  display: block;
  margin: 0 0 16px;
}

.auth-form-field:last-of-type {
  margin: 0 0 32px;
}

.auth-form-input[type="password"] {
  padding: 13px 13px 14px;
  font-size: 14px;
  line-height: 19px;
}

.auth-form-footer {
  display: flex;
  gap: 23px;
}

.auth-form-button {
  align-self: flex-start;
}

.auth-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.auth-link {
  display: block;
  margin: 0 0 4px;
  font-size: 14px;
  line-height: 20px;
  color: var(--extra-dark);
  text-underline-offset: 4px;

  transition: opacity 0.1s ease-out;
}

.auth-link:not(:last-child) {
  margin: 0 0 4px 0;
}

.auth-link:hover {
  opacity: 0.6;
}

.auth-link:active {
  opacity: 0.3;
}

.auth-link:focus-visible {
  outline-offset: 2px;
}

.cart {
  padding: 0 13px 0 23px;
}

.cart--empty {
  padding: 0;
}

.cart-title {
  margin: 1px 0 31px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.cart--empty .cart-title {
  margin: 0;
  text-align: center;
}

.cart-products {
  margin: 0 0 32px 0;
  padding: 0;
  list-style-type: none;
}

.cart-products:after {
  content: "";
  display: block;
  margin: 31px 0 0 0;
  width: calc(100% - 10px);
  height: 1px;
  background-color: var(--light);
}

.cart-item:not(:last-child) {
  margin: 0 0 24px 0;
}

.cart-product {
  display: grid;
  grid-template-columns: 46px auto auto min-content;
  grid-template-rows: auto auto;
  grid-template-areas:
    "image title total close"
    "image options total close";
  align-items: flex-start;
  gap: 4px 16px;
}

.cart-product-title {
  grid-area: title;
  min-width: 148px;
  width: max-content;
  max-width: 360px;
  margin: 0;
  font-weight: 700;
  font-size: 18px;
}

.cart-product-description {
  grid-area: options;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  color: var(--neutral);
}

.cart-product-price {
  font-weight: 400;
}

.cart-product-image {
  grid-area: image;
  width: 46px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
}

.cart-product-total {
  grid-area: total;
  min-width: 77px;
  width: max-content;
  max-width: 180px;
  margin: 13px 0 0 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  word-spacing: 2px;
}

.cart-product-value {
  font-weight: 700;
}

.cart-product-delete {
  grid-area: close;
  margin: 5px 0 0 0;
}

.cart-footer {
  display: grid;
  grid-template-columns: 198px 1fr;
  gap: 20px;
  align-items: flex-start;
}

.cart-total {
  min-width: 112px;
  width: max-content;
  max-width: 180px;
  font-weight: 700;
  font-size: 18px;
  margin: 13px 12px 0 0;
  justify-self: flex-end;
  word-spacing: 1px;
}

/* footer */

.page-footer {
  margin: 48px 0;
}

.footer-grid {
  display: grid;
  grid-template-columns: 343px auto 250px;
  gap: 20px;
  align-items: start;
}

.footer-social {}

.footer-navigation {
  margin: -2px 0 0 0;
}

.footer-navigation-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: grid;
  grid-template-columns: repeat(2, fit-content(265px));
  gap: 6px 0;
}

.footer-navigation-item {
  padding: 0 0 0 24px;
}

.footer-navigation-item--accent {
  font-weight: 700;
  background-image: url("../images/icons/heart.svg");
  background-repeat: no-repeat;
  background-position: left 4px;
}

.footer-navigation-link {
  text-decoration: none;
  font-weight: inherit;
  color: inherit;
  font-size: 14px;
  line-height: 20px;
}

.footer-navigation-link:hover {
  text-decoration: underline;
}

.footer-navigation-link:focus-visible {
  outline-offset: 4px;
}

.footer-navigation-link:active {
  opacity: 0.5;
}

.footer-copyright {
  width: fit-content;
  justify-self: end;
  margin: 0;
}

.copyright {
  position: relative;
}

.copyright::after {
  content: "";
  position: absolute;
  border-radius: var(--border-radius);
  top: -25%;
  left: -10%;
  width: 120%;
  height: 150%;
}

.copyright:hover::after {
  background-color: rgba(252, 252, 252, 0.15);
  z-index: -1;
}

.copyright:active::after {
  background-color: rgba(252, 252, 252, 0.4);
}

.copyright-logo {
  display: block;
  margin: 0 0 14px;
}

.copyright-text {
  font-size: 12px;
  line-height: 16px;
  margin: 0;
}

.copyright-link {
  position: static;
  color: inherit;

  text-decoration-color: rgba(45, 52, 64, 0.5);
  text-underline-offset: 3px;
}

.copyright-link::after {
  content: "";
  position: absolute;
  border-radius: var(--border-radius);
  top: -25%;
  left: -10%;
  width: 120%;
  height: 150%;
}

/* main index*/

.page-main {
  flex: 1 0 auto;
}

.promo {
  margin: 0 0 81px 0;
}

.promo-grid {
  display: grid;
  grid-template-columns: 70fr 472fr 350fr 278fr;
}

.promo-main {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  padding: 136px 0 138px;
}

.promo-title {
  font-size: 36px;
  text-align: left;
  margin: 0 0 25px;
}

.promo-description {
  margin: 0 0 47px;
  font-size: 18px;
  line-height: 24px;
}

.promo-button {
  padding: 12px 32px 12px 33px;
}

.promo-slider {
  padding: 21px 19px 26px 19px;
  position: relative;
  grid-row: 1 / 2;
  grid-column: 3 / 4;
}

.promo-slider-image {
  display: block;
}

.promo-slider::after {
  content: "";
  position: absolute;
  top: 121px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  width: calc(100% - 38px);
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.35);
}

/*! макет для первой страницы немного бракован, правило ниже только для pixel-perfect */
.page-body--strawberry .promo-grid {
  grid-template-columns: 70fr 455fr 367fr 278fr;
}

.page-body--strawberry .promo-slider::after {
  aspect-ratio: 109 / 104;
  top: 120px;
}

.promo-slider-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  border: 2px solid var(--extra-light);
  border-radius: 50%;
  background-color: rgba(252, 252, 252, 0.3);

  cursor: pointer;

  fill: var(--extra-light);
}

.promo-slider-button::after {
  content: "";
  position: absolute;
  width: 250%;
  height: 250%;
  top: -75%;
  left: -75%;
  border-radius: 50%;
}

.promo-slider-button--prev {
  left: 0;
  top: 277px;
  transform: translateY(-50%);

}

.promo-slider-button--prev svg {
  transform: rotate(180deg);
}

.promo-slider-button--next {
  right: 0;
  top: 277px;
  transform: translateY(-50%);
}

.promo-slider-button:disabled {
  fill: var(--extra-light);
  opacity: 0.4;
  border: 2px solid var(--extra-light);
  background-color: rgba(252, 252, 252, 0.3);
  cursor: default;
}

.promo-slider-button:not(:disabled):hover {
  background-color: #fcfcfc;
  fill: var(--extra-dark);
}

.promo-slider-button:not(:disabled):focus-visible {
  background-color: rgba(252, 252, 252, 0.3);
  fill: var(--extra-dark);
  border-color: var(--extra-dark);
  outline: none;
}

.promo-slider-button:not(:disabled):active {
  background-color: rgba(252, 252, 252, 0.5);
  border: none;
  fill: var(--extra-dark);
}

.promo-slider-previews {
  grid-row: 1 / 2;
  grid-column: 4 / 5;

  margin: 204px 0 0;
}

.previews {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 41px;
}

.previews-underlay {
  position: relative;
  padding: 0 17px;
  position: relative;
}

.previews-underlay::after {
  content: "";
  position: absolute;
  top: 26px;
  left: 0;
  width: 100%;
  aspect-ratio: 1 / 1;
  z-index: -1;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.35);

}

.page-body--strawberry .previews-underlay::after {
  background-color: rgba(255, 203, 216, 0.4);
}

.page-body--banana .previews-underlay::after {
  background-color: rgba(159, 200, 255, 0.4);
}

.page-body--marshmallow .previews-underlay::after {
  background-color: rgba(252, 220, 146, 0.4);
}

.previews-link {
  position: static;
  display: block;
}

.previews-link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.previews-link:hover .previews-image {
  opacity: 1;
}

.previews-link:active .previews-image {
  opacity: 0.4;
}

.previews-image {
  display: block;
  opacity: 0.4;
  position: relative;
}

.promo-slider-controls {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  align-self: self-end;
  max-width: 360px;
}

.controls {
  display: flex;
  flex-wrap: wrap;

  gap: 8px;

  margin: 0;
  padding: 0;
  list-style-type: none;
}

.controls-bullet {
  position: relative;
  display: block;
  border: none;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: rgba(252, 252, 252, 0.3);
  outline: 1px solid rgba(252, 252, 252, 0.3);
  outline-offset: -1px;

  cursor: pointer;

  transition: background-color 0.1s ease-out, outline 0.1s ease-out;
}

.controls-bullet::after {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  width: 20px;
  height: 20px;
}

.controls-bullet--active {
  background-color: var(--extra-light);
  cursor: default;
}

.controls-bullet:disabled {
  background-color: var(--neutral);
  outline: 1px solid var(--neutral);
  cursor: default;
  pointer-events: none;
}

.controls-bullet:not(:disabled):hover {
  outline: 1px solid var(--extra-light);
  outline-offset: -1px;
}

.controls-bullet:not(:disabled):active {
  background-color: rgba(252, 252, 252, 0.5);
  outline-color: rgba(252, 252, 252, 0.5);
}

.controls-bullet:not(:disabled, .controls-bullet--active):focus-visible {
  background-color: rgba(252, 252, 252, 0.3);
  outline: 1px solid var(--extra-dark);
}

.promo-social {
  grid-row: 1 / 2;
  grid-column: 3 / 5;
  justify-self: end;
  align-self: self-end;
  max-width: 300px;
}

.social {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.social-item {
  position: relative;
  width: 24px;
  height: 24px;
  outline: 2px solid rgba(252, 252, 252, 0.3);
  border-radius: 50%;
}

.social-item::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: transparent;

  transition: background-color 0.1s ease-out;
}

.social-item:focus-within::before {
  background-color: var(--extra-dark);
}

.social-item:focus-within {
  outline: 2px solid var(--extra-dark);
}

.social-item:hover::before {
  background-color: var(--extra-dark);
}

.social-item:hover {
  outline: 2px solid rgba(252, 252, 252, 0.5);
}

.social-item:active::before {
  background-color: var(--extra-dark);
}

.social-item:active {
  outline: 2px solid rgba(252, 252, 252, 0.5);
  opacity: 0.5;
}

.social-link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.social-link::before {
  content: "";
  position: absolute;
  top: -25%;
  left: -25%;
  width: 150%;
  height: 150%;
}

.social-link:focus {
  outline: none;
}

.social-link--telegram,
.social-link--vkontakte,
.social-link--youtube {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.social-link--telegram {
  background-image: url("../images/icons/telegram.svg");
}

.social-link--vkontakte {
  background-image: url("../images/icons/vkontakte.svg");
}

.social-link--youtube {
  background-image: url("../images/icons/youtube.svg");
}

.gifts {
  margin: 0 0 82px 0;
}

.gifts-title {
  margin: 0 0 54px 0;
}

.gifts-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.gift-card {
  display: flex;
  flex-direction: column;
  background-color: var(--medium-bright);
  border-radius: var(--border-radius);
  padding: 37px 215px 36px 36px;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right bottom;
}

.gift-card--raspberry {
  background-image: url("../images/background/raspberry.png");
}

.gift-card--marshmallow {
  background-image: url("../images/background/marshmallow.png");
}

.gift-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 0 0 27px 0;
}

.gift-card-description {
  margin: 0 0 28px 0;
}

.gift-card-button {
  margin-top: auto;
}

.popular {
  margin: 0 0 80px 0;
}

.popular-title {
  margin: 0 0 56px 0;
}

.popular-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 30px;
}

.advantages {
  border-radius: var(--border-radius);
  background-color: #f7ffc6;
  background-image: url("../images/background/waffle.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding: 24px;

  margin: 0 0 80px 0;
}

.advantages-wrapper {
  background-color: var(--white);
  border-radius: var(--border-radius);
  padding: 57px 40px 56px;
}

.advantages-title {
  margin: 0 0 55px 0;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 32px;
}

.advantages-item {
  padding: 0 0 0 64px;
  position: relative;
}

.advantages-item::before {
  content: "";
  display: block;
  position: absolute;
  width: 48px;
  height: 48px;
  border: 2px solid var(--extra-dark);
  border-radius: 50%;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
  background-position: center;
}

.advantages-item--ice-cream::before {
  background-image: url("../images/icons/advantages-ice-cream.svg");
}

.advantages-item--cow::before {
  background-image: url("../images/icons/advantages-cow.svg");
}

.advantages-item--leaf::before {
  background-image: url("../images/icons/advantages-leaf.svg");
}

.advantages-item--thermopack::before {
  background-image: url("../images/icons/advantages-thermometer.svg");
}

.advantages-description {
  margin: 0;
  color: var(--dark)
}

.blog-new {
  position: relative;
  background-color: var(--white);
  border-radius: var(--border-radius);
  padding: 33px 220px 32px 32px;
  background-color: #fff;
  background-image: url("../images/background/news.jpg");
  background-repeat: no-repeat;
  background-position: left -110px;
}

.blog-new:hover {
  box-shadow: 0px 8px 16px 0px rgba(45, 52, 64, 0.4);
}

.blog-card {}

.blog-card-tag {
  margin: 0 0 13px 0;
  line-height: 20px;
  max-width: 250px;
  color: var(--dark);
}

.blog-card-title {
  margin: 0;
}

.blog-card-link {
  display: block;
  color: inherit;
  text-decoration: none;
  font-size: 24px;
  line-height: 30px;
}

.blog-card-link:hover {
  text-decoration: underline;
}

.blog-card-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: var(--border-radius);
}

.subscribe {
  padding: 6px;
  background-color: var(--extra-bright);
  border-radius: var(--border-radius);
  background-image: url("../images/background/subscribe.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;

}

.subscribe-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: var(--border-radius);
  padding: 26px 26px 28px;

  background-color: var(--white);

  min-height: 100%;
}

.subscribe-text {
  margin: 0 0 44px 0;
  color: var(--dark);
}

.subscribe-form {
  display: grid;
  grid-template-columns: 332px 14px minmax(0, 1fr);
  /* align-items: center; */
}

.subscribe-field {
  /* align-self: center; */
  min-height: 100%;
}

.subscribe-input {
  min-height: 100%;
  padding: 13px 16px;
}

.subscribe-input::placeholder {
  color: var(--neutral);
}

.subscribe-button {
  align-self: center;
  grid-column: 3 / 4;
  margin: 0 auto;
  max-width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.delivery {
  margin: 0 0 80px 0;
  padding: 64px 64px 64px 100px;
  border-radius: var(--border-radius);

  background-color: var(--light);
  background-image: url("../images/background/delivery.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
}

.delivery-grid {
  display: grid;
  grid-template-columns: 1fr 500px;
  gap: 20px;
}

.delivery-wrapper {}

.delivery-wrapper--right {
  background-color: var(--extra-light);
  padding: 40px 40px 42px;
  border-radius: 8px;

  box-shadow: 0px 15px 40px 0px rgba(45, 52, 64, 0.12);

}

.delivery-title {
  margin: 104px 0 23px 0;

  text-align: left;
}

.delivery-description {
  margin: 0;
  color: var(--dark);
}

.delivery-form {}

.delivery-form-description {
  margin: 0 0 31px 0;
  color: var(--dark);
}

.delivery-form-grid {
  margin: 0 0 32px 0;
  display: grid;
  grid-template-columns: 117px 287px;
  grid-template-areas:
    "date phone"
    "destination destination";
  gap: 19px 16px;
}

.delivery-field {
  position: relative;
}

.delivery-field--date {
  grid-area: date;
}

.delivery-field--phone {
  grid-area: phone;
}

.delivery-field--destination {
  grid-area: destination;

}

.delivery-button {
  margin: 0 auto;
}

.field-label {
  display: inline-block;
  margin: 0 0 8px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;

}

.field-input {
  padding: 13px 16px 13px 15px;
}

.tooltip {
  position: relative;
  top: 1px;
  display: inline-block;
  width: 14px;
  height: 14px;
  background-color: transparent;
  background-image: url("../images/icons/info.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.tooltip-text {
  display: none;
  position: absolute;
  left: 23px;
  top: -12px;
  width: max-content;
  max-width: 163px;
  padding: 10px 8px 10px 8px;
  background-color: var(--extra-light);
  border: 1px solid #aaaaaa;
  border-radius: 2px;
  font-size: 12px;
  line-height: 16px;
  font-style: normal;
  color: var(--dark);
}

.tooltip-text::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 12px;
  top: 0;
  left: -12px;
}

.tooltip-text::before {
  content: "";
  position: absolute;
  height: 9px;
  width: 9px;
  background-color: var(--extra-light);
  border-bottom: 1px solid #aaaaaa;
  border-left: 1px solid #aaaaaa;
  top: 13px;
  left: -5px;
  transform: rotate(45deg);
}

.tooltip:hover .tooltip-text,
.tooltip:focus .tooltip-text {
  display: block;
}

.contacts {
  border-radius: var(--border-radius);
  padding: 64px 763px 64px 64px;
  background-color: var(--extra-light);

  background-image: url("../images/background/feedback.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
}

.contacts-wrapper {
  border-radius: 8px;
  padding: 40px 40px 42px 40px;

  background-color: var(--extra-light);
  box-shadow: 0px 8px 16px 0px rgba(45, 52, 64, 0.12);
}

.contacts-address {
  font-style: normal;
  margin: 0 0 24px 0;
}

.contacts-list {
  margin: 0 0 32px 0;
  padding: 0;
  list-style-type: none;
}

.contacts-item:not(:last-child) {
  margin: 0 0 20px 0;
}

.contacts-label {
  color: var(--dark);
  margin: 0 0 12px 0;
}

.contacts-text {
  position: relative;
  display: block;
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  text-decoration: none;
  color: inherit;
}

.contacts-link:hover {
  text-decoration: underline;
}

.contacts-link::after {
  content: "";
  position: absolute;
  display: block;
  width: 120%;
  height: 160%;
  top: -30%;
  left: -10%;
}

.contacts-time {
  color: var(--dark);
  font-size: 14px;
  line-height: 20px;

}

.contacts-button {
  max-width: 100%;
  padding: 12px 33px 12px 32px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

/* modal */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(45, 52, 64, 0.3);
}

.modal-overlay--hidden {
  display: none;
}

.modal {
  position: relative;
  min-width: 570px;
  max-width: 900px;
  margin: auto;
  padding: 65px 64px 66px 64px;
  border-radius: 8px;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
}

.modal-close-button {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  fill: var(--extra-dark);
}

.modal-close-button:hover {
  opacity: 0.6;
}

.modal-close-button:active {
  opacity: 0.3;
}

.modal-title {
  font-size: 24px;
  line-height: 30px;
  margin: 0 0 31px 0;
}

.feedback-field {
  display: block;
  max-width: 100%;
}

.feedback-field:not(:last-of-type) {
  margin: 0 0 16px 0;
}

.feedback-field:last-of-type {
  margin: 0 0 32px 0;
}

.feedback-textarea {
  resize: none;

  min-height: 149px;
}

.modal-submit {
  margin: 0 -2px 0 auto;
  min-width: 152px;
}

/* Catalog creamy page */

.main-header {
  padding: 30px 0 20px 0;
}

.breadcrumbs-nav {
  margin: 0 0 15px 0;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item:not(:last-child) {
  padding: 0 28px 0 0;
  background-image: url("../images/icons/chevrons-right.svg");
  background-repeat: no-repeat;
  background-position: right 8px center;
}

.breadcrumbs-link {
  position: relative;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: inherit;
  text-decoration: none;
}

.breadcrumbs-link:not(.breadcrumbs-link--current)::after {
  content: "";
  position: absolute;
  display: block;
  width: 140%;
  height: 180%;
  top: -40%;
  left: -20%;
}

.breadcrumbs-link--current {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.breadcrumbs-link:not(.breadcrumbs-link--current):hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.breadcrumbs-link:active {
  opacity: 0.6;
}

.page-title {
  margin: 0;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

/*! filter form */

.filters {
  padding: 19px 0;
  margin: 0 0 26px 0;
}

.filter-form {}

.filter-wrapper {
  margin: 0 0 16px 0;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  align-items: flex-start;
}

.filter-container {
  display: grid;
  grid-template-columns: 610px 1fr;
  gap: 12px;
}

.filter-fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.filter-fieldset--fillers {
  width: fit-content;
}

.filter-legend {
  margin: 0 0 8px 14px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.filter-select {
  position: relative;
  display: inline-block;
  min-width: 196px;
  max-width: 300px;
  padding: 8px 32px 8px 16px;
  background-color: rgba(252, 252, 252, 0.3);
  background-image: url("../images/icons/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 13px center;
  border-radius: 20px;
  border: none;

  font-family: inherit;
  font-size: 14px;
  line-height: 20px;
  color: inherit;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.filter-select:disabled {
  background-color: rgba(252, 252, 252, 0.3);
  color: var(--neutral);
}

.filter-select:not(:disabled):hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.filter-select:not(:disabled):focus-visible {
  background-color: rgba(252, 252, 252, 0.4);
  outline: 2px solid var(--extra-light);
  outline-offset: -2px;
}

.range-inputs {
  margin: 0 0 8px 16px;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  align-items: center;

  font-size: 14px;
  line-height: 20px;
}

.range-values {
  display: flex;
  flex-shrink: 1;
  width: min-content;
}

.range-label {
  width: min-content;
  flex-shrink: 1;
}

.range-input {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 3ch;
  min-width: 0;

  font-family: inherit;
  font-size: 14px;
  line-height: 20px;
  color: var(--extra-dark);
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
}

.range-slider {}

.slider {
  padding: 17px 16px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 20px;
}

.slider-wrapper {
  height: 2px;
  width: 164px;
  border-radius: 1px;
  background-color: rgba(86, 92, 102, 0.3);
}

.slider-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  background-color: var(--dark);
}

.slider-handle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--extra-light);
  border: none;
  outline: 6px solid var(--extra-dark);
  outline-offset: -6px;
  cursor: pointer;
}

.filter-list {
  margin: 0;
  padding: 8px 24px;
  list-style-type: none;
  border-radius: 18px;

  display: flex;
  flex-wrap: wrap;
  gap: 17px;

  background: rgba(252, 252, 252, 0.3);
}

.filter-list--fillers {
  padding: 10px 24px;
}

.control {
  cursor: pointer;
}

.control-lead {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  line-height: 20px;
}

.control-lead::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-color: transparent;
  border-radius: 50%;
  outline: 1px solid var(--extra-dark);
  outline-offset: -1px;
  cursor: pointer;
}

.control-input:checked + .control-lead::before {
  background-color: var(--extra-dark);
  width: 6px;
  height: 6px;
  margin: 5px;
  outline: 1px solid var(--extra-dark);
  outline-offset: 4px;
  cursor: pointer;
}

.control-input[type="checkbox"] + .control-lead::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-color: transparent;
  background-image: url("../images/icons/checkbox-empty.svg");
  border-radius: 0;
  outline: none;

  cursor: pointer;
}

.control-input[type="checkbox"]:checked + .control-lead::before {
  margin: 0;
  background-image: url("../images/icons/checkbox-checked.svg");
}

.filter-submit {
  margin: 0 0 2px 0;
  min-width: 185px;
  align-self: flex-end;
}

/* catalog */

.results {
  padding: 0 0 39px 0;
  border-bottom: 1px solid rgba(252, 252, 252, 0.3);
}

.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 41px 30px;
  margin: 0 0 16px 0;
}

.pagination-wrapper {
  display: grid;
  grid-template-columns: 1fr 483px;
  align-items: flex-start;
  gap: 20px;
  padding: 41px 0;
}

.pagination-show-more {
  justify-self: end;
}

.show-more {
  max-width: 200px;
  width: fit-content;
  min-width: 179px;
  overflow-wrap: break-word;
  word-wrap: break-word;

}

.pagination {
  justify-self: end;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 10px 0 0 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item {}

.pagination-link {
  display: block;
  padding: 2px 4px;
  min-width: 24px;
  min-height: 24px;
  border-radius: 12px;

  text-decoration: none;
  color: inherit;
  text-align: center;
  line-height: 20px;
}

.pagination-link--current {
  background-color: var(--extra-light);
}

.pagination-link--prev,
.pagination-link--next {
  position: relative;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--extra-dark);
}

.pagination-link--prev {
  right: 4px;
}

.pagination-link--next {
  left: 4px;
}

.pagination-link--disabled {
  opacity: 0.3;
  cursor: default;
}

.pagination-link:not(.pagination-link--disabled, .pagination-link--current):hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.pagination-link:not(.pagination-link--disabled, .pagination-link--current):focus-visible {
  background-color: rgba(252, 252, 252, 0.3);
  outline: 1px solid var(--extra-dark);
  outline-offset: -1px;
}

.pagination-link:not(.pagination-link--disabled, .pagination-link--current):active {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 1px solid var(--extra-light);
  outline-offset: -1px;
}
